<h1 mat-dialog-title>
  <div class="title-block">
    <div class="title">Dane giełdowe</div>
    <div class="close"><mat-icon (click)="closeDialog()" class="mat-icon-rtl-mirror">close</mat-icon></div>
  </div>
</h1>
<div mat-dialog-content>
  <p>Minimalna wartość: {{data.minRate | number: '1.1-5'}}</p>
  <p>Maksymalna wartość: {{data.maxRate | number: '1.1-5'}}</p>
  <p>Średnia wartość: {{data.avgRate | number: '1.1-5'}}</p>

  <table mat-table [dataSource]="tableDataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> LP </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nazwa API </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Cena </th>
      <td mat-cell *matCellDef="let element"> {{element.price | number: '1.1-5'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

